# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
*.xcodeproj
*.xcworkspace
*.playground
.DS_Store
*.swp
*.swo
*~

# Swift
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Bazel
bazel-bin
bazel-example
bazel-testlogs
bazel-out
.index-db
.indexstore
bazel-example-app

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?

# Legacy (Rust)
legacy-rust/target

# VSCode
.vscode/